body {
  font-family: sans-serif;
}

form {
    padding-bottom: 15px;
}

.description, .description-container, .input-container {
  width: 225px;
}

.description {
  -webkit-transform-origin: 50% 0;
}

.hidden, .expanded {
  transition: all 400ms cubic-bezier(0.40, 1.34, 0.51, 1.01);
}

.hidden {
  opacity: 0;
  -webkit-transform: rotateX(-60deg);
}

.expanded {
  -webkit-transform: rotateX(0deg);
  opacity: 1;
}

.input-container, .description {
  border: 1px solid gray;
}

.description {
  border-top: none;
}

.description-container {
  -webkit-perspective: 300;
}

.box-head, .box-body {
  border-radius: 3px;
}

.easing-box {
  width: 300px;
  position: absolute;
  height: 500px;
  -webkit-transform: translateX(-6px) rotateY(-5deg);
  margin-top: -273px;
}

.easing-box-container {
  position: fixed;
  -webkit-perspective: 50;
  top: 42%;
}

.box-head {
  background: #f0f0f2;
  border-bottom: 1px solid #d3d3d4;
  border-radius: 5px 5px 0 0 ;
  height: 10%;
}

.box-body {
  background: #f5f5f7;
  border-radius: 0 0 5px 5px;
  height: 90%;
}

.shake {
  -webkit-animation-duration: 400ms;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-name: shakeAnimation;
  /*-webkit-animation-iteration-count: infinite;*/
}


@-webkit-keyframes shakeAnimation {
  0% {
    -webkit-transform: translateX(0);
  }

  12.5% {
    -webkit-transform: translateX(-6px) rotateY(-5deg);
  }

  37.5% {
    -webkit-transform: translateX(5px) rotateY(4deg);
  }

  62.5% {
    -webkit-transform: translateX(-3px) rotateY(-2deg);
  }

  87.5% {
    -webkit-transform: translateX(2px) rotateY(1deg);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
